spring:
  application:
    name: FinalORM_Project

  datasource:
    url: jdbc:postgresql://localhost:5432/education_platform
    username: eduadmin
    password: edupass2024
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    open-in-view: false

  sql:
    init:
      mode: never

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.education.finalorm: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE